* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
}

.gray {
    color: #918E9B;
}
.bold {
    font-weight: bold;
}

/* nav */
.airbnb-nav {
    display: flex;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0 1px 6px 0px #f5eded;
}
.airbnb-nav__logo {
    max-width: 100px;
}
/* hero */
.hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.hero-heroBanner {
    max-width: 300px;
    margin-top: 15px;
    align-self: center;
}
.hero > h1 {
    max-width: 270px;
    font-size: 2.5rem;
    margin: 25px 0 10px 0;
}
.hero > p {
    max-width: 270px;
    font-size: 0.9rem;
    margin: 0;
}
/* card */
.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding-left: 20px;
}
.card {
    width: 175px;
    font-size: 0.8rem;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}
.card--stats {
    display: flex;
    align-items: center;
}
.card--star {
    height: 14px;
    width: 14px;
}
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card--badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f5eded;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.8rem;
}